<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Peluso Construction is comprised of a small team with over 20 years experience in commercial renovations in healthcare and other specialized settings." />
	<meta name="keywords" content="team, experts, experience, commercial renovations, healthcare, specialized, Michael Peluso, Dennis Atkinson, Shawn Carignan, Keith Long, James Peluso, Jeffrey Tully, experts, professional, architects, mechanical, plumbing, electrical, drywall, flooring, painting, subcontractors, Massachusetts" />
	
	<title>Peluso Construction, Inc.</title>
	
	<link href="css/screen.css" media="screen" rel="stylesheet" type="text/css"/>

</head>

<body>

<div id="container">
    <header>
			<img src="images/peluso_construction_logo.gif" alt="Peluso Construction, Inc."/>
		<nav>
        	<ul>
				<li><a href= "index.html">Home</a></li>
        		<li><a href= "services_and_clients.html">Services and Clients</a></li>
        		<li><a href= "about_us.html">About Us</a></li>
        		<li><a href= "contact_us.html">Contact Us</a></li>
        	</ul>
    	</nav>
    </header>
    
	<div id="mainContent">
	
		<!-- Main Content -->
		
		<h1>Construction Management Professionals</h1>	
		<h2>About Us</h2>
			<p>Peluso Construction, Inc. is a general contractor with over 20 years experience in commercial renovations in healthcare and other specialized settings since 1985.
			Peluso Construction, Inc. offers competitive pricing through competitive bidding. We provide project management of all phases of the construction project so the client can focus on service delivery.</p>
		<h3>Our Team</h3>
				<p>Peluso Construction is comprised of a small team with over 20 years experience in commercial renovations in healthcare and other specialized settings.</p>
								<ul>
									<li><strong>Michael Peluso, </strong><em>President</em> 
									<br/>Has been contracting commercial construction projects since 1985</li>
								
									<li><strong>Dennis Atkinson, </strong><em>Project Manager</em> 
									<br/>Has been with Peluso Construction since 1985</li>
								
									<li><strong>Shawn Carignan, </strong><em>Project Manager</em> 
									<br/>Has over 20 years experience in health care settings- joined Peluso Construction in 2008</li>
								
									<li><strong>Keith Long, </strong><em>Project Supervisor</em> 
									<br/>Has been with Peluso Construction since 	1995</li>
								
									<li><strong>James Peluso, </strong><em>Project Supervisor</em> 
									<br/>Has been with Peluso Construction since 2006</li>
								
									<li><strong>Jeffrey Tully, </strong><em>Project Supervisor</em> 
									<br/>Has been with Peluso Construction since 2007</li>
								</ul>
			<h3>Our Associates</h3>
							<p>In addition to our team of experts, we have long standing relationships with professional architects and engineers for design build projects, as well as the finest mechanical, plumbing, electrical, drywall, flooring and painting subcontractors located in eastern and central Massachusetts.</p>

	</div> <!-- END #mainContent -->
	<footer>
		Peluso Construction, Inc. is fully licensed (CS00011737) and insured.
	</footer>
</div> <!-- End #container -->
</body>
</html>